/*
  This file is for determining the color scheme/theme of the application.
*/

// COLORS
$text-color: #50514F;
$background-color: #FAF3DD;

// HEADER (blend options)
$header-color: $background-color;
$header-text-color: $text-color;

// HEADER
// $header-color: #EEE;
// $header-text-color: black;

// FONTS
$header-font: 'Arial';
$body-font: 'Arial';
