/*
  This file is for determining the color scheme/theme of the application.
*/

// COLORS
$header-color: #EEE;
$text-color: #EEE;
$background-color: #BBB;

// FONTS
$header-font: 'Arial';
$body-font: 'Arial';
